html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}


body {
  box-sizing: border-box;
  color: black;
  font-size: 80%;
  background-color: #161c24;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  display: flex;
}

article {
  background-color: #161c24;
  flex: 2 2 50%;
  /*flex:  50%;*/
  /*order: -1;*/
}

nav,
aside {
  flex: 1;
}

aside {
  background-color: white;
  border-style: solid;
  border-width: 1;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
}

.paradireita{
  color: white;
  padding-top: 1000px;
  padding: 30px;
  border-radius: 40px;
  background-color: #4f6782;
  border: solid 3px #37485b;
  position:absolute;
  list-style: none;
  right: 30px;
} 

textarea  {
  resize: none;
  height: 250px;
  width: 90%;
  border-radius: 10px;
}

input{
  border-radius: 10px;
  border-color: white;
}

button{
  border-radius: 10px;
  border-color: #f0f0f0;
}

.paraesquerda{ 
  color: white;
  background-color: #4f6782;
  border: solid 3px #37485b;
  padding: 10px;
  border-radius: 40px;  
  margin-right: 30%;
  margin-left: 30%;
}

.pesquisa{ 
  color: white;
  position:fixed;
  padding: 20px;
  border-radius: 40px;
  background-color: #4f6782;
  border: solid 3px #37485b;  
  left: 30px;
}

aside h1 {
  align-self: flex-start;
}


@media only screen and (max-width: 1000px) {

.paraesquerda{ 
  color: white;
  padding: 10px;
  border-radius: 40px;
  background-color: #4f6782;
  border: solid 3px #37485b;
  margin-right: 20%;
  margin-left: 20%;
}

  .paradireita{   
    color: white; 
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px;
    border-radius: 40px;    
    background-color: #4f6782;
    border: solid 3px #37485b;
    padding-bottom: 30px; 
    position:static;
    list-style: none;
    padding-bottom: 30px;    
  }  

  .pesquisa{
    color: white;
    margin-right: 29%;
    margin-left: 29%;
    padding: 10px;
    border-radius: 40px;
    background-color: #4f6782;
    border: solid 3px #37485b;
    padding-bottom: 30px; 
    position:static;
    text-align: center;
    left: 0px;
    align-items: center;
  }
}

h1 {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
article,
aside {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

header,
footer {
  height: 10%;
}

.Reg-login {
  /*display: flex;  
  flex: 1;*/
  flex-direction: row;  
  justify-content: right;
  border-width: 1;
  border-color: black;  
  border-style: solid;  
}

.Form-sub {
  /*display: flex;*/
  flex: 1;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  text-align: left;
}

header {
  background-color: white;
  border-width: 1;
  border-color: black;  
  border-style: solid;  
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}


.blue{  
  text-decoration: underline;
  color:cyan;
}

/*
nav {
  background-color: white;
  border-style: solid;  
  border-width: 1;
  border-color: black;  
  height:auto;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}*/


footer {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}