html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

body {
  box-sizing: border-box;
  color: black;
  font-size: 80%;
 
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  display: flex;
}

article {
  background-color: white;
  flex: 2 2 50%;
  /*flex:  50%;*/
  /*order: -1;*/
}

nav,
aside {
  flex: 1;
}

aside {
  background-color: white;
  border-style: solid;
  border-width: 1;
  border-color: black;
  display: flex;
  
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-wrap: nowrap;
}

aside h1 {
  align-self: flex-start;
}


/*@media screen and (max-width: 500px) {
    
    main {
        flex-direction: column;
    }
    
}*/

h1 {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
article,
aside {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

header,
footer {
  height: 10%;
}

.Reg-login {
  /*display: flex;  
  flex: 1;*/
  flex-direction: row;  
  justify-content: right;
  border-width: 1;
  border-color: black;  
  border-style: solid;  
}

.Form-sub {
  /*display: flex;*/
  flex: 1;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  text-align: left;
}

header {
  background-color: white;
  border-width: 1;
  border-color: black;  
  border-style: solid;  
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

nav {
  background-color: white;
  border-style: solid;  
  border-width: 1;
  border-color: black;  
  height:auto;
  /*display: flex;*/
  /*flex: 1;*/
  flex-direction: column;
  justify-content: left;
  text-align: left;
  /*justify-content: space-between;*/
}


footer {
  position: absolute;
  width: 99%;
  bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}